/* Day 2 
* {
      margin: 0;
      padding: 0;
}

.header {
      background-color: #e18686;
      width: 100%;
      font-size: larger;
      padding: 8px;
      margin-bottom: 90px;
      text-align: center;
} */

.header{
      height: 92px;
      
      
}
img{
      margin-left: 120px;
      width: 180px;
     
      
}
.button{
      float: right;
      padding: 20px;
      
}